<h1>Listing posts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('activerecord.models.post.title')%></th>
      <th class="hidden-xs"><%= t('activerecord.models.post.body')%></th>
      <th class="hidden-xs"><%= t('activerecord.models.post.date')%></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td class="hidden-xs"><%= post.body %></td>
        <td class="hidden-xs"><%= l(post.created_at) %></td>
        <td class="text-right">
          <div class="btn-group" >
            <%= link_to t('helpers.links.show'), post, class: 'btn btn-primary btn-xs' %>
            <%= link_to t('helpers.links.edit'), edit_post_path(post),class: 'btn btn-warning btn-xs' %>
            <%= link_to t('helpers.links.destroy'), post,class: 'btn btn-danger btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('helpers.links.new_post'), new_post_path ,class: 'btn btn-success' %>
