<p id="notice" class="alert "><%= notice %></p>

<p class="lead">
  <strong><%= t('activerecord.models.post.title')%>:</strong>
  <%= @post.title %>
</p>

<hr/>
<p >
  <%= raw @post.body %>
</p>

<div class="btn-group">
    <%= link_to t('helpers.links.edit'), edit_post_path(@post) , class: "btn btn-primary btn-sm" %>
    <%= link_to t('helpers.links.back'), posts_path , class: "btn btn-info btn-sm" %>
</div>

